* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    text-align: bottom;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
    color: #4a90e2;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    max-width: 500px;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #ffe2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    max-width: 500px;
    margin-bottom: 10px;
}

.grid-item {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 2.5px solid #333;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: transparent;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

input[type="text"]:focus {
    background-color: #e6f7ff;
}

input[type="text"]:disabled {
    background-color: #f0f0f0;
    color: #666;
    cursor: not-allowed;
    border-radius: 5px;
}

input[type="text"].locked {
    border: none;
}

.instructions {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
    max-width: 500px;
    line-height: 1.5;
}

.current-row {
    background-color: #f8f8f8;
    border: 2px solid #4a90e2;
}

.win-background {
    background-color: #fff !important;
    transition: background-color 0.5s;
}